{{- block "index.ts" $ -}}
{{- template "header/base" }}
{{ template "index" $ }}
{{- end }}
{{- /* "index.ts" END */ -}}


{{- define "index" }}
{{- range $.Collections }}
export * from {{ printf "./%s%s" .Name $.ImportFileExtension | quote }};
{{- end }}

export * from './schema{{ $.ImportFileExtension }}';
export * from './relations{{ $.ImportFileExtension }}';
{{- end }}
{{- /* "index" END */ -}}
