{{/* relations.ts is a block to generate the relations file. */}}
{{- block "relations.ts" $ }}
{{- template "header" $ }}
{{ template "relations" $.Collections }}
{{- end }}

{{/* relations is the definition of the Relations interface. */}}
{{- define "relations" }}
// --- Relations ---

export interface Relations {
{{- range $.Values }}
	{{ .Name }}: {{ .RelationsTypeName }};
{{- end }}
}

{{ template "relatedCollections" $ }}
{{- end }}

{{/* relatedCollections defines the interface of all the related collections. */}}
{{- define "relatedCollections" }}
// --- Related Collections ---

export interface RelatedCollections {
{{- range $.Values }}
	{{ .Name }}: {{ .RelatedCollectionsTypeName }};
{{- end }}
}
{{- end }}
