{{- block "collections" $.Collections }}
{{- range $spec := . }}
	{{- template "collection" $spec }}
{{ end }}
{{- end }}

{{- block "schema" $.Collections }}
// --- Schema ---

export interface Schema {
{{- range $ }}
	{{ .Name }}: {{ .TypeName }};
{{- end }}
}
{{ end }}

{{- block "relations" $.Collections }}
// --- Relations ---

export interface Relations {
{{- range $ }}
	{{ .Name }}: {{ .RelationsTypeName }};
{{- end }}
}
{{- end }}
