{{- block "package.json" $.PackageJson -}}
{
  "name": "{{ $.Name }}"

{{- with $.Version }},
  "version": "{{ . }}"
{{- end }}

{{- with $.Type }},
  "type": "{{ . }}"
{{- end }}

{{- with $.Private }},
  "private": {{ . }}
{{- end }}

{{- with $.Description }},
  "description": "{{ . }}"
{{- end }}

{{- with $.Scripts }},
  "scripts": {
    {{- template "json/mapToStringFields" . }}
  }
{{- end }}

{{- with $.Dependencies }},
  "dependencies": {
    {{- template "json/mapToStringFields" . }}
  }
{{- end }}

{{- with $.DevDependencies }},
  "devDependencies": {
    {{- template "json/mapToStringFields" . }}
  }
{{- end }}

{{- with $.Files }},
  "files": [
    {{- template "json/sliceToStringElements" . }}
  ]
{{- end }}

{{- with $.Options }},
  {{- template "json/mapToAny" . }}
{{- end }}
}
{{- end }}
