{{- block "tsconfig.json" $.TSConfig }}
{
  "$schema": "https://json.schemastore.org/tsconfig",
  "compilerOptions": {
    "strict": true,
    "noEmit": true
  },
  "include": ["**/*.ts"]
}
{{- end }}
